*{
   margin : 0px;
   padding : 0px;
   box-sizing: border-box;
}

html
{
   margin: 0;
   height: 100%;
   background: url('images/fond_bleu.jpg');
   background-size: cover;
}

img 
{
   width: auto; 
   max-height: 100%; 
}

body
{
    min-height: 100%;
    background: url('images/fond_bleu.jpg');
    background-size: cover;
}

#header 
{
   height: 150px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   border-bottom: solid black 1px;
}

#user 
{
   margin: 0 10px;
   font-weight: 400;
   display: flex;
   align-items: center;
   align-self: center;
   margin-right: 50px;
}

.log
{
   float: right;
}

.balise1
{
   border: none;
   border-top: 3px solid #333;
   color: #333;
   overflow: visible;
   text-align: center;
   height: 5px;
   margin: 0px;
   padding: 0px;
}

h1
{
   font-weight: 200;
   text-decoration : underline;
   text-decoration-color: red;
   margin: 50px;
   padding: 0px;
   text-align: center;
}

#extranet
{
   margin : 0px;
   background-position-x: center;
   text-align: center;
}

h2
{
   font-weight: 1;
   font-size: large;
   margin: 20px;
   margin-top: -10px;
   padding: 0px;
   text-align: center;
}

section
{
   display: flex;
   flex-direction: column;
   align-items: center;
   border-width: 2px;
   border-style: solid;
   border-color: black;
   margin: 100px 100px 20px;
   padding: 0px;
}

form
{
   padding: 0px;
   margin: 0px;
   text-align: center;
}

#account section {
   padding: 30px;
   background-color: #FFF;
   border-radius: 10px;
}
#account input[type="submit"] {
   background-image: linear-gradient(rgb(0, 0, 0) , #a0c3e5);
   border-radius: 10px;
   padding: 8px;
   font-size: 0.8em;
   font-weight: bold;;
}
#account input[type="submit"]:hover {
   opacity: 0.8;
}

.element1
{
   display: flex;
   border: 2px rgb(0, 0, 0) solid;
   margin: 50px;
   height: 100px; /* Sets the height */
   width: 80em; /* Sets the width */
}

.element2
{
   display: flex;
   border: 2px rgb(0, 0, 0) solid;
   margin: 20px;
   height: 100px; /* Sets the height */
   width: 80em; /* Sets the width */
}

.element3
{
   display: flex;
   border: 2px rgb(0, 0, 0) solid;
   margin: 20px;
   height: 100px; /* Sets the height */
   width: 80em; /* Sets the width */
}

.element4
{
   display: flex;
   border: 2px rgb(0, 0, 0) solid;
   margin: 20px;
   height: 100px; /* Sets the height */
   width: 80em; /* Sets the width */
}

h3
{
   margin: auto;
   margin-right: 700px;
}

button
{
height: auto;
width: auto;
margin-left: 0px;
}

.balise2
{
   border: none;
   border-top: 1px solid #333;
   color: #333;
   overflow: visible;
   text-align: center;
   height: 5px;
   margin: 40px;
}

footer
{
   height: 100px;
   background-color: black;
   background-position-x: center;
   text-align: center;
}

a[href] 
{
   color: rgb(255, 255, 255);
}

a:link
{
   background-color: transparent;
   text-decoration: none;
}

a:hover 
{
   color: rgb(0, 170, 255);
   background-color: transparent;
   text-decoration: underline;
}

.logout[href] 
{
   color: rgb(0, 145, 255);
}

.logout:hover
{
   color: rgb(255, 0, 0);
}

.vertical-line
{
  border-left: 2px solid rgb(255, 255, 255);
  display: inline-block;
  height: 10px;
  margin: 0 0px;
}

