/* Header */

#login
{
   margin: 0px;
   margin-bottom: -20px;
   padding: 0px;
   text-align: center;
}

#login h2
{
   font-weight: 1;
   font-size: large;
   margin: 20px;
   margin-top: -20px;
   padding: 0px;
   text-align: center;
   text-decoration: none;
}

.baliseHeader
{
   border: none;
   border-top: 2px solid #333;
   color: #333;
   overflow: visible;
   text-align: center;
   height: 5px;
   margin: 0px;
   padding: 0px;
}

#header 
{
   height: 180px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   border-bottom: solid black 2px;
}

#header #logo 
{
   display: block;
   height: 180px;
   margin-left: 50px;
}

#user 
{
   margin: 0 10px;
   display: flex;
   align-items: center;
   align-self: center;
   margin-right: 60px;
}

img#account
{
   display: flex;
   margin-right: -10px;
}

#userLink p 
{
   margin: 0;
}

#userLink a 
{
   margin-left: 10px;
   text-decoration: none;
   color: #000;
}

#deco a 
{
   color: #539de2;
}

#user a:hover 
{
   margin-left: 10px;
   text-decoration: none;
   color: #FF0000;
}

@media screen and (max-device-width: 768px) 
{
   html 
   {
   zoom: 3;
   }
   header 
   {
   flex-direction: column;
   align-items: center;
   height: 120px;
   }
   header #logo 
   {
   margin-left: 0;
   height: 70px;
   }
   #user 
   {
   margin: 0;
   }
}

/* Bordered form */

#container
{
    width: auto;
    margin: 5% auto;
}

#container h1
{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 20px;
}

form 
{ 
    width:90%;
    margin: auto;
    padding: 20px;
    border: 1px solid #f1f1f1;
    background: url('images/fond_bleu.jpg');
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form h1
{
   font-size: 200%;
   text-align: center;
}

#form
{
   text-align: center;
}

.left 
{
    text-align: left;
    margin: 5px;
}

.center 
{
    text-align: center;
    margin: 20px;
    margin-bottom: 40px;
}

/* Full-width inputs */

input[type=text], input[type=password] 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */

input[type=submit] 
{
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

input[type=submit]:hover 
{
    background-color: white;
    color: #53af57;
    border: 0px solid #53af57;
}

.box-register1
{
  text-align:center;
  margin: 60px;
  margin-bottom:0px;
  font-size: 18px;
}

.box-register2
{
  text-align:center;
  margin: 20px;
  margin-bottom:0px;
  font-size: 18px;
}

.erreur
{
    text-align: center;
    color : red;
    margin : 20px;
    font-size: 20px;
}

/* Index Home */

*{
   margin : 0px;
   padding : 0px;
   box-sizing: border-box;
}

body
{
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    background: url('images/fond_bleu.jpg');
    background-size: cover;
}

main 
{
   height: 100%;
   width: 100%;
   padding-bottom: 15px;
   margin: 0;
}

section
{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px 50px 10px 50px;
   padding: 0px;
}

h1, h2, h3 
{
   font-family: 'Martel', serif;
   text-decoration: underline;
   text-decoration-color: #FF0000;
   margin-top: 20px;
   margin-bottom: 20px;
}

h1 
{
   font-size: 1.8em;
   text-align: center;
}

h2 
{
   font-size: 1.3em;
   margin: 20px 0; 
}

h3 
{
   margin-bottom: 20px;
}

p
{
   margin-bottom: 20px;
}

u
{
   text-decoration : underline;
   text-decoration-color: red;
}

ul
{
   margin-bottom: 20px;
}

li 
{
    color: #FF0000;
}

.li_content
{
    color: #000;
}

#presentation .presentationListActeurs 
{
   display: flex;
   justify-content: normal;
}

#illustration 
{
   display: flex;
   justify-content: center;
}

#illustration img 
{
   display: block;
   width: 110%;
   border: solid 1px #000000;
   max-width: 1000px;
}

#conteneur_acteur 
{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 50px 50px 10px 50px;
   margin-bottom: 10px;
}

#acteurs 
{
   margin-top: 50px;
}

.acteur 
{
   width: 98%;
   margin: 10px 0;
   padding: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #fff;
   border: solid 1px #FF0000;
   border-radius: 10px;
}

.presentation_acteur 
{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.logo_acteur 
{
   width: 200px;
   border: solid 1px #000000;
}

.description 
{
   margin-left: 20px;
   width: 60%;
}

.votesButton 
{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.homeVotes 
{
   display: flex;
}

.button 
{
   align-self: flex-end;
   white-space: nowrap;
   background-image: linear-gradient(#91e0ff , #00b7ff);
   color: white;
   border-radius: 10px;
   padding: 8px;
   text-decoration: none;
   font-size: 0.8em;
}

.baliseFooter
{
   border: none;
   border-top: 1px solid #333;
   color: #333;
   overflow: visible;
   text-align: center;
   height: 20px;
   margin: 40px;
}

footer
{
   height: 130px;
   background-color: black;
   background-position-x: center;
   text-align: center;
}

span a[href]
{
   color: rgb(0, 145, 255);
}

a:link
{
   background-color: transparent;
   text-decoration: none;
}

a:hover 
{
   color: rgb(255, 0, 0);
   background-color: transparent;
   text-decoration: underline;
}

.logout[href] 
{
   color: rgb(0, 145, 255);
}

.logout:hover
{
   color: rgb(255, 0, 0);
}

.vertical-line
{
  border-left: 2px solid rgb(255, 255, 255);
  display: inline-block;
  height: 10px;
  margin: 0 0px;
}

@media screen and (min-width: 1020px) 
{
   html 
   {
   zoom: 1;
   }
   #presentation .presentationListActeurs 
   {
   justify-content: center;
   }
   .presentationListActeurs ul 
   {
   margin: 20px;
   }
}

@media screen and (max-width: 1020px) 
{
   html 
   {
   zoom: 1;
   }
   .acteur 
   {
   flex-direction: column;
   }
   .votesButton 
   {
   flex-direction: row;
   justify-content: space-between;
   }
   .button 
   {
   align-self: flex-end;
   white-space: nowrap;
   text-decoration: none;
   color: #fff;
   }
}

@media screen and (max-device-width: 600px) 
{
   html 
   {
   zoom: 3;
   }
   .acteur 
   {
   padding: 20px 50px 20px 50px;
   width: 80%;
   }
   .presentation_acteur 
   {
   flex-direction: column;
   align-items: center;
   }
   .logo_acteur 
   {
   height: 100%;
   width: 100%;
   }
   .description 
   {
   margin-left: 0px;
   width: 100%;
   }
   #presentation .presentationListActeurs 
   {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   }
   .presentationListActeurs ul 
   {
   margin: 0;
   }
   .presentationListActeurs li 
   {
   margin: 10px;
   }
   #illustration img 
   {
   width: 135%;
   }
}

/* pages acteurs */
#presentation_acteur 
{
   padding: 10px 30px 30px 20px;
   margin : 60px;
   background-color: #FFF;
   border: solid 1px #FF0000;
   border-radius: 10px;
}

.logo_page_acteur 
{
   display: flex;
   justify-content: center;
}

.logo_page_acteur img 
{
   width: 60%;
   max-width: 400px;
}

.description_page_acteur h2 
{
   margin-bottom: 0px;
}

.head_comment 
{
   display: flex;
   justify-content: flex-start;
   margin: 0;
}

.like 
{
   margin-top: 20px;
}

.fa-thumbs-up {
   color: green;
   margin-left: 20px;
   margin-bottom: 20px;
}
.fa-thumbs-down {
   color: red;
   margin-left: 20px;
   margin-bottom: 20px;
}

.commentaires 
{
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    margin: 10px 0;
    background-color: #FFF;
}

#sectionComment 
{
   padding: 0px 30px 30px 20px;
   margin-bottom: 10px;
}

#sectionComment .firstname 
{
   font-weight: bold;
   margin: 0;
}

#sectionComment .date_add 
{
   color: grey;
   margin: 0;
}

#sectionComment .comment, .newComment textarea 
{
   width: auto;
   border: solid #bbb 1px;
   border-radius: 5px;
   padding: 5px;
   margin-bottom: 0;
}

textarea 
{
   width: 100%;
   resize: none;
}

p 
{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
}

p a[href]
{
   color: rgb(0, 145, 255);
}

p a:hover
{
   color: rgb(255, 0, 0);
   background-color: transparent;
   text-decoration: underline;
}